.linha_divisora_rodape {
    width: 100%;
    max-width: 90%;
    height: 1px;
    margin: 2rem 0;
    position: relative;

    background: linear-gradient(
        to right, 
        transparent, 
        #FFFFFF, 
        transparent);
}

.linha_divisora_rodape::after {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 5px;
    height: 5px;
    background: #ffffff;
    border: 1px solid #ffffff;
    box-shadow: 0 0 110px var(--secondary-color);
}

.linha_divisora_rodape, .rodape {
    animation: aparecer 0.8s ease-out backwards;
    animation-delay: 1.2s;
}

.rodape {
    max-width: 95%;
}

.texto_rodape {
    font-size: 0.6rem;
    text-align: center;
    max-width: 200px;
}

@media (min-width: 768px) {
    .linha_divisora_rodape {
        max-width: 500px;
    }
    .texto_rodape {
        font-size: 0.7rem;
        max-width: 400px;
    }
}

@media (min-width: 1024px) {
    .linha_divisora_rodape {
        max-width: 600px;
    }
    .texto_rodape {
        font-size: 0.8rem;
        max-width: 450px;
    }
}