.cabecalho {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 2rem;

    animation: aparecer 0.8s ease-out backwards;
}

.container_img {
    width: 180px;
    height: 180px;
    padding: 6px;
    background: linear-gradient(135deg, var(--primary-color), var(--secondary-color));
    border-radius: 50%;
    margin-bottom: 1.3rem;
    box-shadow: 0 0 40px rgba(105, 27, 250, 0.6);

    position: relative;
    z-index: 1;
}

.img_cabecalho {
    height: 100%;
    width: 100%;
    border-radius: 50%;
    object-fit: cover;
    display: block;
}

.titulo_cabecalho {
    font-family: "Pacifico", cursive;
    font-weight: 700;
    font-size: 2.5rem;
    background: linear-gradient(to right, #ffffff, #E0B0FF);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    filter: drop-shadow(0 0 8px rgba(224, 176, 255, 0.6));
}

.linha_divisora_cabecalho {
    height: 1.5px;
    width: 100%;
    max-width: 500px;
    margin: 10px 0;
    background: linear-gradient(
        to right, 
        transparent, 
        #FFFFFF, 
        transparent);
        opacity: 0.7;
}

.subtitulo_cabecalho {
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-size: 1rem;
    letter-spacing: 1px;
}